<%include partials/header%>

<div class="ui main text container segment">
	<div class="ui big header">
		Hello <%=currentUser.firstname%>, your current balance is: € <%=balance%>.
	</div>
	<a href="/overview/new" class="ui big header"><i class="plus icon"></i>Make a Transaction</a></br>
	<a href="/stripe" class="ui big header"><i class="plus icon"></i>Pay via Stripe</a>
	<table class="ui tablet stackable table">
	  
	  	<% items.forEach(function(eachItem){ %>
		  <tbody>
		    <tr>
		      <td>ID: <%=eachItem._id%></td>
		      <td><%=eachItem.description%></td>
		      <td class="right aligned">€<%=eachItem.value%></td>
		      <td><a href="/overview/<%=eachItem._id%>">Detail</a></td>
		    </tr>
		  </tbody>
		<%})%>
	</table>
</div>

<%include partials/footer%>